# Node & Next build artifacts
node_modules/
.next/
dist/
build/

# Environment variables (IMPORTANT)
.env
.env.local
.env.*.local

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temporary
coverage/

apps/backend/config/firebase-admin.json
apps/backend/config/*.json
apps/backend/.env